<h3 id="hi"> viewflight Details</h3>
<br>
<div class="container">
    <div>
        <label> <b> Flight Name </b></label> {{particularFlight.flightName}}
    </div>
    <div>
        <label> <b> Flight Number </b></label> {{particularFlight.flightNumber}}
    </div>
    <div>
        <label> <b> arrival city </b></label> {{particularFlight.arrivalCity}}
    </div>
    <div>
        <label> <b> departure city </b></label> {{particularFlight.departureCity}}

    </div>
    <div>
        <label> <b> laguage weight </b></label> {{particularFlight.laguageWeight}}
    </div>
    <div>
        <label> <b> ticket cost </b></label> {{particularFlight.ticketCost}}
    </div>
    <div>
        <label> <b> Is Domestic </b></label> {{particularFlight.isDomestic}}
    </div>
    <div>
    <label> <b> Flight Rating </b></label> {{particularFlight.flightRating}}
    </div>

    
</div>
